.logo{
height: 42px;
width: 179px;
left: 660px;
top: 206px;
border-radius: nullpx;
font-family: Ravie;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 48px;
letter-spacing: 0.05em;
text-align: left;
position: absolute;
color: #07A6F0; 
}

.portal{
  position: absolute;
width: 153px;
height: 25px;
left: 673px;
top: 257px;
font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.05em;
color: #181943;
}

.plan{
position: absolute;
width: 137px;
height: 33px;
left: 681px;
top: 379px;
font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
text-align: center;
letter-spacing: 0.05em;
color: #181943;
}

#f6{
  width: 416px;
  height: 76px;
  left: 542px;
  top: 421px;
  right:542px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5px;
  position: absolute;
  background-color: white;
}

#f3{
width: 416px;
height: 76px;
left: 542px;
top: 506px;
border: 1px solid #E0E0E0;
box-sizing: border-box;
border-radius: 5px;
position: absolute;
background-color: white;
}

#f1{
  position: absolute;
width: 416px;
height: 76px;
left: 542px;
top: 591px;
border: 1px solid #E0E0E0;
box-sizing: border-box;
border-radius: 5px;
background-color: white;
}

.f6p{
width: 199px;
height: 33px;
left: 22x;
top: 13px;
right:195px;
bottom: 30px;
font-family: Nunito Sans,sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
letter-spacing: 0.05em;
color: #07A6F0;
font-weight: 700;
}

.f3p{
  height: 33px;
width: 199px;
left: 564px;
top: 519px;
border-radius: nullpx;
font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
letter-spacing: 0.05em;
color: #07A6F0;
font-weight: 700;
}

.f1p{
  width: 186px;
height: 33px;
left: 564px;
top: 604px;
font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
letter-spacing: 0.05em;
color: #07A6F0;
font-weight: 700;
}

.f6c{
  width: 305px;
height: 16px;
left: 564px;
top: 469px;
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.05em;
color: #828282;
}

.f3c{
  width: 305px;
height: 16px;
left: 564px;
top: 554px;
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.05em;
color: #828282;
}

.f1c{
  width: 305px;
height: 16px;
left: 564px;
top: 639px;
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.05em;
color: #828282;
}

.f6y,.f3y,.f1y{
height:22px;
width:45px;
left:210px;
top:21px;
right: 147px;
bottom: 33px;
position: absolute;
border-radius: nullpx;
font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.05em;
color: #5C5C5C;
}

#dis{
  width: 45px;
height: 45px;
top:1px;
left:367px;
right:17px;
bottom:39px;
font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 110%;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;
position: absolute;
}

#dis1{
width: 45px;
height: 45px;
left: 367px;
top: 1px;
right:17px;
bottom:39px;
font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 110%;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;
position: absolute;
}

.plan1{
  position: absolute;
width: 256px;
height: 33px;
left: 621px;
top: 714px;
font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
text-align: center;
letter-spacing: 0.05em;
color: #181943;
}

#p1{
  position: absolute;
width: 416px;
height: 76px;
left: 542px;
top: 756px;
background-color: white;
border: 1px solid #E0E0E0;
box-sizing: border-box;
border-radius: 5px;
}

.p1p{
width: 269px;
height: 33px;
left: 564px;
top: 769px;
font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
letter-spacing: 0.05em;
color: #07A6F0;
}

.p1y{
  height:22px;
  width:45px;
  left:293px;
  top:21px;
  bottom: 33px;
  position: absolute;
  border-radius: nullpx;
font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.05em;
color: #5C5C5C;
}

.p1c{
  width: 305px;
height: 16px;
left: 564px;
top: 804px;
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.05em;
color: #828282;
}

li{
  list-style-type: none;
}

nav{
  display: flex;
  min-height: 10vh;
  align-items: center;
  font-family: Nunito Sans;
}


nav .navi{
  display: flex;
  justify-content: space-around;
  width:30%;
}

nav .bar {
  display: flex;
  justify-content:space-around;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 742px;
  bottom: 236px;
  font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
text-align: center;
letter-spacing: 0.05em;
color: black;
opacity: 0.8;
}

.navi input{
  position: absolute;
  left: 43.27%;
  right: 38.07%;
  top: 20%;
  bottom: 16.67%;
  border-radius: 5px;
  width:280px;
  color: white;
  height:38px;
  border:hidden;
}

.terms{
  
position: absolute;
top: 128px;
width:960px;
height:52px;
left:270px;
right:270px;
bottom: 52px;
font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
text-align: center;
letter-spacing: 0.05em;
color: #5C5C5C;
opacity: 0.8;
}

.lic{
position: absolute;
width: 207px;
height: 16px;
left: 647px;
top: 971px;
font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
text-align: center;
letter-spacing: 0.05em;
color: #5C5C5C;
opacity: 0.8;
}

